/* -- Image Slider Styles -- */

#wizards_slider {
    position: relative;
    overflow: hidden;
    background-color: #000000;
}

#wizards_slider .slider-list {
    margin: 0;
    padding: 0;
}

#wizards_slider .slider-list li {
    float: left;
}

#wizards_slider img {
    max-width: unset;
}

#wizards_slider .slider-list img {
    object-fit: cover;
    width: 100%;
    max-width: unset !important;
    margin-bottom: 0 !important;
    min-height: 100%;
}


/* -- Image slider Cursor Grab Styles (Works Only If Gesture Is Actived) -- */

#wizards_slider.wizards_gestures {
    cursor: grab;
}

#wizards_slider.wizards_gestures.wizards_grabbing {
    cursor: grabbing;
}


/* -- Image Slider Bullets -- */

#wizards_slider .slider_bullets {
    position: absolute;
    z-index: 10;
    bottom: 15px;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#wizards_slider .slider_bullets a {
    position: relative;
    text-decoration: none;
    display: inline-block;
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    margin: 0 5px;
    padding: 0;
}

#wizards_slider .slider_bullets span {
    font-size: 12px;
}

#wizards_slider .slider_bullets figure {
    display: flex;
    padding-bottom: 15px;
    visibility: hidden;
    position: absolute;
    bottom: 100%;
    left: 0;
    margin: 0;
    max-width: 100px;
    transition: .3s ease-in-out;
}

#wizards_slider .slider_bullets a:hover figure {
    visibility: visible;
}

#wizards_slider .slider_bullets .selected figure {
    left: 50%;
    margin-left: -50px;
}

#wizards_slider .slider_bullets figure img {
    width: 100px;
    height: auto;
}


/* -- Image Slider Play Pause BUtton Styles -- */

#wizards_slider .wizards_playpause {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 10;
    line-height: 0;
}

#wizards_slider .wizards_playpause i {
    font-size: 10px;
}

.wizards_playpause.wizards_play .fa-pause:before {
    content: "\f04b";
}


/* -- Image Slider Prev Next Button Styles -- */

#wizards_slider .wiz-arrow {
    position: absolute;
    padding: 0;
    top: 50%;
    color: #ffffff;
    z-index: 99;
    transition: .2s ease-in-out;
}

#wizards_slider .wizards_next {
    right: 0;
}

#wizards_slider .wizards_prev {
    left: 0;
}

#wizards_slider .wiz-arrow i {
    font-size: 14px;
    padding: 18px 15px;
    transition: .3s ease-in-out;
}


/* -- Image Slider Title Styles -- */

#wizards_slider .slider-title-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-title {
    position: relative;
}

.slider-title .title {
    display: block;
    margin: 0;
}

.slider-title span {
    font-size: 24px;
    display: inline-block;
    margin-top: 20px;
}

.slider-title button {
    margin: 20px auto 0;
}

.slider-title button a {
    font-size: 18px;
}

@media (max-width:1200px) {
    #wizards_slider img {
        height: 675px;
    }
}

@media (max-width:991px) {
    #wizards_slider img {
        height: 650px;
    }
    .slider-title .description {
        max-width: 525px;
    }
    .slider-title .description span {
        font-size: 18px;
    }
    .slider-title .description button a {
        font-size: 16px;
        padding: 7px 12px;
    }
}

@media (max-width:767px) {
    #wizards_slider img {
        height: 550px;
    }
    #wizards_slider .wiz-arrow i {
        display: none;
    }
}

@media (max-width:576px) {
    #wizards_slider img {
        height: 475px;
    }
    .slider-title .description span {
        font-size: 16px;
    }
    .slider-title .description button a {
        font-size: 14px;
        padding: 5px 10px;
    }
}