/* ====== EDD Added Plugin Styles ====== */


/* -- Button Styles -- */

.edd-submit.button.blue {
    padding: 10px 15px;
    border: none;
    border-radius: 0;
    outline: none !important;
    background-image: none;
}


/* -- Single Page Styles --*/

.edd_download_purchase_form {
    margin: 20px 0 0;
}

.edd_download_purchase_form .edd_price_options {
    margin: 0;
}

.edd_download_purchase_form .edd_price_options ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
    padding: 0;
}

.edd_download_purchase_form .edd_price_options li {
    width: 33.33333%;
    padding: 0 8px;
    margin-bottom: 16px;
}

.edd_download_purchase_form .edd_price_options .price-list-2 li,
.edd_download_purchase_form .edd_price_options .price-list-1 li {
    width: 50%;
}

.edd_download_purchase_form .edd_price_options label {
    position: relative;
    padding: 12px;
    cursor: pointer;
    border: 1px solid transparent;
}

.edd_download_purchase_form .edd_price_options .selected label {
    cursor: initial;
}

.edd_download_purchase_form .edd_price_options label input[type="radio"] {
    visibility: hidden;
    position: absolute;
    right: 15px;
    top: 10px;
}

.edd_download_purchase_form .edd_price_options .edd_price_option_price {
    font-size: 22px;
    font-weight: 700;
    display: block;
    margin-top: 8px;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.edd_download_purchase_form .btn-beats {
    font-size: 14px;
}

.edd_download_purchase_form .edd_price_options .edd_price_option_sep {
    display: none;
}


/* -- Widget Styles -- */

.widget.widget_edd_product_details li:last-child {
    padding: 0 8px;
}

.widget.widget_edd_product_details .edd-meta {
    margin: 10px 0 0;
}

.widget.widget_edd_cart_widget .edd-cart-number-of-items {
    font-style: normal;
    color: inherit;
    opacity: .7;
}

.widget.widget_edd_cart_widget ul {
    padding: 0;
    list-style-type: none;
}

.widget.widget_edd_cart_widget li {
    list-style-type: none;
    margin-bottom: 0;
    border: none;
}

.widget.widget_edd_cart_widget .cart_item {
    padding: 0;
    background-color: transparent;
}

@media (max-width: 991px) {
    .edd_download_purchase_form .edd_price_options li {
        width: 50%;
    }
}

@media (max-width: 576px) {
    .edd_download_purchase_form .edd_price_options li {
        width: 100%;
    }
}