/* -- All Basic Styles Of Theme -- */

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    word-break: break-word;
}


/* ====== Theme Hader Styles ====== */


/* ====== Theme Body Content Styles ====== */

#page {
    max-width: 1920px;
    margin: 0 auto;
}

a {
    transition: 0.3s;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid;
    cursor: pointer;
    text-decoration: none;
}

a.btn:hover,
#footer a.btn:hover,
#wizards_slider .btn:hover,
#wizards_slider .btn a:hover,
.wp-block-button__link:hover {
    border-bottom: none;
}

a:focus,
a:active {
    outline: 1px solid;
    box-shadow: none;
}


/* -- Image Styles -- */

figure,
img,
iframe {
    max-width: 100%;
    object-fit: cover;
}


/* -- List Styles -- */

ul,
ol {
    list-style-type: square;
    margin: 20px 0 10px
}

ol {
    list-style-type: decimal;
}

ul ul,
ol ol,
ol ul,
ul ol {
    margin: 10px 0 0;
}

li {
    margin-bottom: 10px;
}


/* -- Form Styles -- */

.form-control {
    border-radius: 0;
}

label {
    font-size: 14px;
    color: inherit;
    display: block;
}

input,
textarea,
select {
    font-size: 14px;
    width: 100%;
    padding: 12px 15px;
    border: 1px solid transparent;
    border-radius: 0;
}

input[type="submit"] {
    font-size: 14px;
    width: auto;
    border: none;
    padding: 15px 25px;
    line-height: 1;
    transition: 0.3s;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select {
    padding-left: 8px;
}

input[type="checkbox"],
input[type="radio"] {
    padding: unset;
    width: auto;
    cursor: pointer;
    margin: 0 5px 0 0;
}

input[type="radio"] {
    width: auto;
    height: auto;
}


/* -- Buttons Styles -- */

.btn-beats,
button {
    padding: 10px 15px;
    border: none;
    border-radius: 0;
    outline: none !important;
    background-image: none;
}


/* -- Blockquote Styles -- */

blockquote {
    border-left: 4px solid transparent;
    padding-left: 20px;
    position: relative;
}

blockquote:before {
    font-family: "Font Awesome\ 5 Free";
    content: "\f10d";
    font-size: 52px;
    font-weight: 900;
    margin-right: 10px;
    position: absolute;
    color: inherit;
    opacity: 0.2;
}

blockquote p {
    font-style: italic;
    color: inherit;
}


/* -- Table Styles -- */

table {
    font-size: 13px;
    color: inherit;
    width: 100%;
    line-height: 2;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-width: 1px;
    padding: 10px;
}

table caption {
    color: inherit;
    caption-side: top;
    padding: 0 0 10px;
    line-height: 1.5;
}


/* -- Background Image Jumbotron Styles -- */

.jumbotron {
    border-radius: 0;
}

.header_jumbotron {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 250px 0;
}

.header_jumbotron .beats-heading {
    margin: 0;
}

.header_jumbotron .paragraph {
    font-size: 18px;
    color: inherit;
    max-width: 650px;
    margin: 0 auto;
}

.header_jumbotron .btn-beats {
    padding: 10px 25px;
    margin: 42px 0 0;
}


/* -- Content Styles -- */

#content {
    padding: 48px 0;
}

body.home #content {
    padding: 0;
}


/* -- Frontpage Section Styles -- */

.section-frontpage {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.section-frontpage .container {
    position: relative;
}

.section-frontpage p {
    color: inherit;
}

.section-frontpage .section_header {
    margin: 0 auto 48px;
}

.section-frontpage .sec-description {
    margin: 0;
}


/* -- Slick Slider Styles -- */

.slick-list {
    overflow: hidden;
    padding: 38px 0;
}

.slick-slide {
    float: left;
    z-index: 1 !important;
    padding: 0 15px;
}

.slick-arrow {
    font-size: 0;
    padding: 8px 12px;
    line-height: 1;
    border: 1px solid transparent;
    position: absolute;
    top: 0;
    right: 45px;
    z-index: 1;
    cursor: pointer;
    transition: .3s;
}

.slick-next {
    right: 0;
}

.slick-arrow:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 16px;
    content: "\f053";
}

.slick-next:before {
    content: '\f054';
}

.slick-dots {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 46px 0 0;
    padding: 0;
}

.slick-dots li {
    font-size: 0;
    margin: 0 4px;
}

.slick-dots button {
    height: 8px;
    width: 8px;
    border-radius: 100%;
    background-color: #a3a2a1;
    outline: none;
    padding: 0;
    cursor: pointer;
}


/* -- Section Two [Section Features] Styles -- */

.section_features .column {
    position: relative;
    margin-bottom: 30px;
}

.section_licensing .pricing-row .column:nth-last-child(1),
.section_licensing .pricing-row .column:nth-last-child(2),
.section_licensing .pricing-row .column:nth-last-child(3),
.section_licensing .pricing-row .column:nth-last-child(4),
.section_features .column:nth-last-child(1),
.section_features .column:nth-last-child(2),
.section_features .column:nth-last-child(3),
.section_features .column:nth-last-child(4) {
    margin-bottom: 0;
}

.section_features .column-content {
    display: flex;
    position: relative;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
}

.section_features .column:before,
.section_features .column:after,
.section_features .column-content:before,
.section_features .column-content:after {
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    height: 3px;
    width: 15%;
    background: transparent;
}

.section_features .column:after {
    width: 13%;
    left: unset;
    right: 15px;
}

.section_features .column-content:before {
    width: 3%;
    top: unset;
    bottom: 0;
    left: 0;
}

.section_features .column-content:after {
    width: 45%;
    top: unset;
    bottom: 0;
    left: unset;
    right: 0;
}

.section_features .column i {
    font-size: 52px;
    margin-right: 32px;
}

.section_features .count {
    font-size: 85px;
    font-weight: 600;
    line-height: 1;
}

.section_features .column .title {
    margin-bottom: 12px;
}

.section_features .column p {
    margin: 0;
}


/* -- Section Three [Section Licensing] Styles -- */

.section_licensing .column {
    margin-bottom: 30px;
}

.section_licensing .highlighted {
    transform: scale(1, 1.1);
}

.section_licensing .col-wrap {
    position: relative;
}

.section_licensing .col-wrap:before,
.section_licensing .col-wrap:after,
.section_licensing .col-content:before,
.section_licensing .col-content:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 35%;
    z-index: 1;
}

.section_licensing .col-wrap:after {
    width: 3%;
    left: unset;
    right: 0;
}

.section_licensing .col-content {
    position: relative;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    padding: 52px;
}

.section_licensing .col-content:before {
    width: 15%;
    top: unset;
    bottom: 0;
    left: 0;
}

.section_licensing .col-content:after {
    top: unset;
    bottom: 0;
    left: unset;
    right: 0;
}

.section_licensing .col-content .type {
    margin-bottom: 10px;
}

.section_licensing .col-content .sub-type {
    font-size: 16px;
    opacity: .7;
}

.section_licensing .col-content .price {
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-bottom: 15px;
}

.section_licensing .col-wrap .currency {
    font-size: 24px;
    margin: 0 5px 0 0;
}

.section_licensing .col-wrap .currency.last {
    margin: 0 0 0 5px;
}

.section_licensing .features {
    margin: 0;
    padding: 0;
}

.section_licensing .features p {
    font-size: 15px;
    margin: 0;
}

.section_licensing .col-content .features i {
    font-size: 12px;
    margin-right: 8px;
}


/* --- Licensing Custom Beats -- */

.custom_beat_row {
    margin-top: 60px;
}

.custom_beat_row .column {
    margin-bottom: 0;
}

.custom_beat_row .header-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
}

.custom_beat_row .heading {
    padding-right: 30px;
    margin: 6px 0;
}

.custom_beat_row .description {
    opacity: .7;
    margin: 0;
}

.custom_beat_row .price {
    margin: 6px 0;
    position: relative;
}

.custom_beat_row .price .currency {
    font-size: 16px;
    margin: 0 7px;
    vertical-align: middle;
}

.custom_beat_row .btn-contact {
    background-color: transparent;
    color: inherit;
    padding: 12px 18px;
    margin: 6px 0;
    border: 1px solid;
    opacity: .7;
    line-height: 1;
}

.custom_beat_row .btn-contact:hover {
    color: inherit;
    opacity: 1;
}

.custom_beat_row .content-wrap {
    padding: 20px 40px;
}

.custom_beat_row .features p {
    line-height: 2;
    opacity: .7;
}

.custom_beat_row .features i {
    font-size: 12px;
    margin-right: 10px;
}


/* -- Section Four [Section FAQS] Styles -- */

.section_faqs .section_header p {
    line-height: 1.7;
}

.section_faqs .accordion-item {
    margin-bottom: 10px;
}

.accordion-item:first-of-type .accordion-button,
.section_faqs .accordion-item .accordion-button {
    font-size: 16px;
    color: inherit;
    margin: 0;
    position: relative;
    background: #0e0c0c;
    padding: 18px 34px 18px 24px;
    border-radius: 0;
}

.section_faqs .accordion-button::after {
    font-family: 'Font Awesome 5 Free';
    content: "\f067";
    font-size: 12px;
    font-weight: 900;
    position: absolute;
    right: 15px;
    top: 40%;
    width: auto;
    height: auto;
    cursor: pointer;
    background-image: none;
}

.section_faqs .accordion-item.active .accordion-button::after {
    content: "\f068";
}

.section_faqs .accordion-item .paragraph {
    border: 2px solid transparent;
    padding: 20px;
    margin-top: 10px;
}

.section_faqs .accordion-item p {
    line-height: 1.7;
}


/* -- Section Five [Section About] Styles -- */

.section_about .row {
    align-items: center;
}

.section_about figure {
    margin: 0;
}


/* -- Section Six [Section Reviews] Styles -- */

.section_review {
    text-align: center;
}

.testimonialslide {
    position: relative;
}

.testimonialslide .slick-list {
    padding: 38px 0 24px;
    margin: 0 -15px;
}

.testimonialslide.has-slick-arrow .slick-list {
    padding-top: 72px;
}

.testimonialslide .test_slide {
    padding: 30px;
}

.testimonialslide img {
    max-height: 100px;
    max-width: 100px;
    border-radius: 100%;
    margin-bottom: 15px;
    display: inline-block;
}

.testimonialslide h6 {
    font-size: 16px;
    line-height: 1.6;
}

.testimonialslide span {
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
}

.testimonialslide span.company {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}


/* -- Section Seven [Section Contact] Styles -- */

.section_contact form p:nth-last-child(2) {
    margin-bottom: 0;
}


/* -- Column-2 -- */

.section_faqs .column .column-2 {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.section_faqs .column .column-2 .accordion-item {
    width: 50%;
    padding: 0 15px;
}


/* -- Section Eight [Section Offer] Styles -- */

.section_offer {
    padding: 172px 0 90px;
}

.section_offer .row {
    align-items: center;
}

.section_offer .section_header {
    margin: 0;
}

.section_offer .column-heading {
    font-weight: 400;
    margin: 0 0 22px;
}

.section_offer .col-description {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.section_offer .column-content {
    padding: 30px 40px;
}

.section_offer .offer-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 16px;
}

.section_offer .offer-headline {
    font-weight: 400;
    margin: 6px 0;
    padding-right: 15px;
}

.section_offer .ribbon {
    display: inline-block;
    padding: 12px 16px;
    font-size: 13px;
    margin: 6px 0;
}

.section_offer .ribbon i {
    margin-right: 3px;
}

.section_offer .offer-detail {
    font-weight: 400;
    margin: 0 0 16px;
    opacity: .8;
}

.section_offer .offer-description {
    opacity: .7;
    margin: 0;
}


/* --  [Section Beats] Styles -- */

.section-frontpage.section_beats {
    overflow: unset;
}

.section_beats .btn-download:hover {
    border-bottom: none;
}


/* -- Blog Page Styles -- */

.featured-jumbotron {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    margin-bottom: 32px;
}

.jumbotron-content {
    max-width: 550px;
    background-color: rgba(255, 255, 255, .7);
    padding: 15px;
}

.jumbotron-content .featured-title {
    margin-bottom: 16px;
}

.jumbotron-content .featured-title a {
    color: inherit;
}

.jumbotron-content p {
    color: inherit;
}

.jumbotron-content span.screen-reader-text,
.entry-summary span.screen-reader-text {
    display: none;
}

article {
    margin: 0 0 32px;
    border: none;
    border-radius: 0;
}

article:last-child,
.entry-meta span:last-child,
.entry-footer span:last-child,
.entry-footer a:nth-child(2),
article time.updated.published,
.jumbotron-content p:last-child {
    margin: 0;
}

article figure {
    margin-bottom: 24px;
}

article .attachment-post-thumbnail {
    height: auto;
    width: auto;
}

article .entry-title {
    margin-bottom: 20px;
}

article time.updated {
    margin-left: 12px;
}

article .entry-meta {
    margin: 0 0 10px;
}

.entry-meta span:after,
.entry-footer span:after,
.entry-footer span:after {
    content: '|';
    font-weight: 700;
    margin: 0 8px 0 13px;
    vertical-align: top;
}

.entry-meta span:last-child:after,
.entry-footer span:last-child:after,
.entry-footer span:last-child:after {
    display: none;
}

article span i {
    font-size: 14px;
    margin-right: 7px;
}

.entry-meta a,
.entry-footer a {
    font-size: 14px;
}

.post .entry-footer {
    margin-top: 15px;
}

.entry-footer a {
    font-weight: 400;
    text-transform: capitalize;
    margin-left: 5px;
}

.cat-links a:last-child:after {
    display: none;
}

article.list-view figure {
    margin: 0;
}

article.post .entry-meta {
    margin: 20px 0 10px;
}

article.post .entry-summary p:last-child {
    margin-bottom: 0;
}

article .more-link {
    font-size: 14px;
}


/* -- Post Navigation -- */

.posts-navigation .screen-reader-text,
.pagination .screen-reader-text {
    display: none;
}

.posts-navigation .nav-links {
    display: flex;
    flex-wrap: wrap;
}

.posts-navigation .nav-previous,
.posts-navigation .nav-next {
    line-height: 3;
}

.posts-navigation .nav-previous {
    margin-right: auto;
}


/* -- Navigation Pagination Styles -- */

.pagination,
.comment_pagination {
    margin-top: 32px;
    line-height: 2;
}

#comments .page-numbers,
.nav-links .page-numbers,
.page-links,
.page-links a {
    font-size: 14px;
    color: inherit;
    padding: 2px;
    margin: 0 10px;
    margin-right: 10px;
    transition: unset;
}

span.page-numbers:first-child {
    margin-left: 0 !important;
}

span.page-numbers:hover {
    border-bottom: 2px solid #333333;
}

span.page-numbers.current {
    padding: 4px 7px;
    border: none;
}

.page-links {
    margin: 12px 0 0;
}


/* -- Single Page Styles -- */

.single article {
    margin: 0;
}

.single article .content {
    margin: 0;
}

.single.entry-footer {
    margin: 16px 0 0;
}

.navigation.post-navigation {
    margin-top: 1px;
}

.post-navigation .nav_direction {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.post-navigation .nav_direction .column {
    width: 50%;
    padding: 0 15px;
    display: flex;
    overflow: hidden;
}

.post-navigation .nav_direction .column figure {
    height: 60px;
    margin: 0 20px 0 0;
    display: inline-block;
}

.post-navigation .nav_direction .column img {
    width: 60px;
    height: 60px;
    max-width: 60px;
    transition: all 0.3s;
}

.post-navigation .nav_direction .column figure {
    position: relative;
}

.post-navigation .nav_direction .column figure a:before {
    content: '';
    background: rgba(0, 0, 0, .6);
    visibility: hidden;
}

.post-navigation .nav_direction .column:hover figure a:before {
    visibility: visible;
}

.post-navigation .nav_direction span {
    color: inherit;
    font-weight: 300;
    display: block;
}

.post-navigation .nav_direction .column h4 {
    font-size: inherit;
    font-weight: 500;
    margin: 0;
}

.post-navigation .nav_direction .next_post {
    text-align: right;
    margin-left: auto;
}

.post-navigation .nav_direction .next_post .next_title {
    margin-left: auto;
}

.post-navigation .nav_direction .next_post figure {
    margin: 0 0 0 20px;
}


/* -- Comment And Respont Form Styles -- */

#comments,
#respond {
    margin: 32px 0 0;
}

.comments-title,
#reply-title {
    color: inherit;
    font-size: 24px;
}

#main .comment article {
    margin: 0;
}

#comments .comment-list {
    margin: 32px 0 0;
    padding: 0;
    list-style-type: none;
}

#comments .comment-list .children {
    padding-left: 32px;
    list-style-type: unset;
}

#comments .comment {
    margin-bottom: 20px;
}

#comments .comment:last-child {
    margin-bottom: 0;
}

.comment-author {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.comment-meta figure {
    padding-right: 15px;
}

.comment-meta figure img {
    width: 55px;
    ;
}

.comment-metadata {
    width: 88%;
}

.comment-metadata .fn,
.comment-metadata .fn a {
    font-weight: 700;
    color: inherit;
    text-transform: capitalize;
}

.comment-metadata .fn {
    display: block;
}

.comment-metadata .date {
    font-size: 13px;
    font-weight: 300;
}

.comment-metadata .comment-details {
    margin: 5px 0 20px;
}

.comment-awaiting-moderation {
    font-style: normal;
    margin: 10px 0 !important;
    display: block;
}

#comments .reply {
    margin-left: auto;
}

#comments .reply a,
#cancel-comment-reply-link {
    font-size: 12px;
    font-weight: 600;
    border: none;
    padding: 6px 16px;
    display: block;
    letter-spacing: .5px;
}

.comment-notes {
    margin-bottom: 32px;
}

#commentform .required {
    color: #ff5400;
}

.comment-form-comment {
    margin-bottom: 26px;
}

#respond label {
    color: inherit;
}

#respond .form-submit {
    margin-bottom: 0;
}

.comment-form-author,
.comment-form-email,
.comment-form-url {
    width: 100%;
    margin: 0 0 26px;
    max-width: 550px;
}

#commentform .comment-form-cookies-consent {
    display: flex;
    align-items: center;
}

#commentform .comment-form-cookies-consent input {
    width: 20px;
    cursor: pointer;
}

#commentform .comment-form-cookies-consent label {
    margin-left: 7px;
}

#cancel-comment-reply-link {
    display: inline-block;
    padding: 10px 25px;
    margin-left: 10px;
}

#content #cancel-comment-reply-link:hover {
    border: none;
}

#comments .page-numbers {
    font-size: 12px;
    margin-right: 5px;
}

#comments .page-numbers.current {
    padding: 4px 7px;
}


/* -- Sidebar Styles -- */

#sidebar.left-order {
    order: -1;
}

#sidebar .widget {
    padding: 0;
    margin: 0 0 48px;
}

#sidebar .widget:last-child {
    margin: 0;
}

#sidebar .sidebar {
    background: #ffffff;
    max-width: 380px;
}

#sidebar.right-order .sidebar {
    margin-left: auto;
}

#sidebar.left-order .sidebar {
    margin-right: auto;
}

.widget-title {
    margin-bottom: 20px;
}

section.widget p {
    color: inherit
}

.widget.widget ul {
    margin: 0;
    padding-left: 18px;
}

.widget.widget ul ul {
    padding-left: 8px;
}

.widget.widget li {
    color: inherit;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    margin-bottom: 15px;
    padding-bottom: 15px;
    list-style-type: square;
}

.widget.widget li:last-child {
    border: none;
    margin: 0;
    padding: 0;
}

.widget.widget li a {
    padding: 0;
    color: inherit;
}

.widget.widget li .post-date,
.widget.widget li .comment-author-link {
    font-size: 14px;
    color: inherit;
    text-transform: capitalize;
    display: block;
    opacity: .5;
}

.widget.widget_tag_cloud a {
    display: inline-block;
    border: 1px solid #e4e7eb;
    padding: 8px 12px;
    margin-bottom: 4px;
}

.widget.widget_tag_cloud a:hover {
    border-color: inherit;
}

.widget.widget .menu-item-has-children:after {
    display: none;
}

.widget.widget_search .form-title {
    display: none;
}

.widget.widget_calendar table {
    text-align: center;
    border-color: inherit;
}

.widget.widget_calendar table th {
    box-shadow: inset 0 0 5px;
    padding: 5px;
}

.widget.widget_calendar table td {
    padding: 5px;
}

.widget.widget_calendar table #today,
.widget.widget_calendar table td.pad {
    box-shadow: inset 0 0 5px;
}

.widget.widget_calendar .wp-calendar-nav {
    margin-top: 10px;
}


/* ====== Theme Footer Styles ====== */

#footer {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    padding: 50px 0;
}

#footer .container {
    position: relative;
}

#footer .widget-title {
    font-size: 24px;
}