/* -- All Basic Styles Of Theme -- */

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    word-break: break-word;
}


/* ====== Theme Hader Styles ====== */


/* ====== Theme Body Content Styles ====== */

#page {
    max-width: 1920px;
    margin: 0 auto;
}

a {
    color: #27b0ff;
    transition: 0.3s;
    text-decoration: none;
}

a:link {
    cursor: pointer;
}

a:focus,
a:active {
    outline: 1px solid #212121;
    box-shadow: none;
}

a:hover {
    text-decoration: none;
}


/* -- Paragraph -- */

p {
    font-size: 17px;
    color: #282b30;
    line-height: 1.8;
}


/* -- Image Styles -- */

figure,
img,
iframe {
    max-width: 100%;
    object-fit: cover;
}


/* -- List Styles -- */

ul,
ol {
    list-style-type: square;
    margin: 20px 0 10px
}

ol {
    list-style-type: decimal;
}

ul ul,
ol ol,
ol ul,
ul ol {
    margin: 10px 0 0;
}

li {
    margin-bottom: 10px;
}


/* -- Form Styles -- */

label {
    font-size: 14px;
    color: #353638;
    display: block;
}

input,
textarea,
select {
    font-size: 15px;
    color: #777777;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.14);
    width: 100%;
    padding: 12px 15px;
}

input[type="submit"] {
    font-size: 14px;
    background: #2e5ea2;
    color: #ffffff;
    width: auto;
    border: none;
    padding: 15px 25px;
    line-height: 1;
    transition: 0.3s;
}

input[type="submit"]:hover {
    background: #e4be1a;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select {
    padding-left: 8px;
}


/* -- Buttons Styles -- */

.btn-beats,
button {
    font-size: inherit;
    border: none;
    border-radius: 0;
    outline: none !important;
    background-image: none;
}


/* -- Blockquote Styles -- */

blockquote {
    border-left: 4px solid #1e4b8e;
    padding-left: 20px;
    position: relative;
}

blockquote:before {
    font-family: "Font Awesome\ 5 Free";
    content: "\f10d";
    font-size: 52px;
    font-weight: 900;
    margin-right: 10px;
    position: absolute;
    color: #1e4b8e;
    opacity: 0.2;
}

blockquote p {
    font-style: italic;
    color: #1e4b8e;
}


/* -- Table Styles -- */

table {
    font-size: 13px;
    color: #556378;
    width: 100%;
    line-height: 2;
}

table th {
    color: #27b0ff;
}

table caption {
    font-size: 19px;
    color: #153f7b;
    caption-side: top;
    padding: 0 0 10px;
    line-height: 1.5;
}


/* -- Container And Row Styles -- */

.container {
    max-width: 1230px;
}

.navbar-expand-lg>.container,
.navbar-expand-lg>.container-fluid {
    padding: 0 15px;
}


/* -- Background Image Jumbotron Styles -- */

.jumbotron {
    border-radius: 0;
}

.header_jumbotron {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 250px 0;
}

.header_jumbotron .beats-heading {
    margin: 0;
}

.header_jumbotron .beats-heading.from-left {
    animation: viewFromLeft 1s ease-in;
}

.header_jumbotron .paragraph {
    font-size: 18px;
    color: inherit;
    max-width: 650px;
    margin: 0 auto;
}

.header_jumbotron .paragraph.from-right {
    animation: viewFromRight .5s ease-in;
}

.header_jumbotron .btn-beats {
    padding: 10px 25px;
    margin: 42px 0 0;
}

.header_jumbotron .btn-beats.from-top {
    animation: viewFromTop 2s ease-in;
}


/* -- Content Section Styles -- */

#content section {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#content section .container {
    position: relative;
}

#content section p {
    color: inherit;
}


/* -- Section Eight [Section Offer] Styles -- */

.section_offer {
    padding: 172px 0 90px;
}

.section_offer .row {
    align-items: center;
}

.section_offer .section-heading {
    font-weight: 400;
    margin: 0 0 22px;
}

.section_offer .sec-description {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.section_offer .column-content {
    padding: 30px 40px;
}

.section_offer .offer-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 16px;
}

.section_offer .offer-headline {
    font-weight: 400;
    margin: 0;
}

.section_offer .ribbon {
    display: inline-block;
    padding: 12px 16px;
    font-size: 13px;
    margin: 0;
}

.section_offer .ribbon i {
    margin-right: 3px;
}

.section_offer .offer-detail {
    font-weight: 400;
    margin: 0 0 16px;
    opacity: .8;
}

.section_offer .offer-description {
    opacity: .7;
    margin: 0;
}


/* -- Section Two [Section Features] Styles -- */

.section_features .row {
    align-items: center;
}

.section_features .column {
    position: relative;
    margin-bottom: 30px;
}

.section_features .column:nth-last-child(1),
.section_features .column:nth-last-child(2),
.section_features .column:nth-last-child(3) {
    margin-bottom: 0px;
}

.section_features .column-content {
    display: flex;
    position: relative;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    padding: 42px;
}

.section_features .column:before,
.section_features .column:after,
.section_features .column-content:before,
.section_features .column-content:after {
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    height: 3px;
    width: 15%;
    background: transparent;
}

.section_features .column:after {
    width: 13%;
    left: unset;
    right: 15px;
}

.section_features .column-content:before {
    width: 3%;
    top: unset;
    bottom: 0;
    left: 0;
}

.section_features .column-content:after {
    width: 45%;
    top: unset;
    bottom: 0;
    left: unset;
    right: 0;
}

.section_features .column i {
    font-size: 52px;
    margin-right: 32px;
    line-height: 2;
}

.section_features h2 {
    font-size: 85px;
    font-weight: 600;
}

.section_features h3 {
    font-size: 30px;
    margin-bottom: 12px;
}


/* -- Section Three [Section Licensing] Styles -- */

.section_licensing .section_header {
    margin-bottom: 70px;
}

.section_licensing .column {
    margin-bottom: 30px;
}

.section_licensing .col-wrap {
    position: relative;
}

.section_licensing .col-wrap:before,
.section_licensing .col-wrap:after,
.section_licensing .col-content:before,
.section_licensing .col-content:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 35%;
    z-index: 1;
}

.section_licensing .col-wrap:after {
    width: 3%;
    left: unset;
    right: 0;
}

.section_licensing .col-content {
    position: relative;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    padding: 52px;
}

.section_licensing .col-wrap.highlighted .col-content {
    transform: scale(1, 1.07);
}

.section_licensing .col-content:before {
    width: 15%;
    top: unset;
    bottom: 0;
    left: 0;
}

.section_licensing .col-content:after {
    top: unset;
    bottom: 0;
    left: unset;
    right: 0;
}

.section_licensing .col-content .type {
    margin-bottom: 10px;
}

.section_licensing .col-content .sub-type {
    font-size: 16px;
    opacity: .7;
}

.section_licensing .col-content .price {
    display: flex;
    align-items: center;
    font-size: 56px;
    font-weight: 600;
    margin-bottom: 15px;
}

.section_licensing .highlighted .col-content .price {
    font-size: 68px;
}

.section_licensing .col-wrap .currency {
    font-size: 24px;
    margin: 0 5px 0 0;
}

.section_licensing .col-wrap .currency.last {
    margin: 0 0 0 5px;
}

.section_licensing .features {
    margin: 0;
    padding: 0;
}

.section_licensing .features p {
    font-size: 15px;
    margin: 0;
}

.section_licensing .col-content .features i {
    font-size: 12px;
    margin-right: 8px;
}


/* --- Licensing Custom Beats -- */

.custom_beat_row {
    margin: 30px -15px 0;
}

.custom_beat_row .column {
    margin-bottom: 30px;
}

.custom_beat_row .column:nth-last-child(1),
.custom_beat_row .column:nth-last-child(2) {
    margin-bottom: 0;
}

.custom_beat_row .header-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
}

.custom_beat_row .heading {
    padding-right: 30px;
}

.custom_beat_row .description {
    opacity: .7;
    margin: 0;
}

.custom_beat_row .price {
    margin: 0;
    position: relative;
}

.custom_beat_row .price .currency {
    font-size: 16px;
    margin: 0 7px;
    vertical-align: middle;
}

.custom_beat_row .btn-contact {
    background-color: transparent;
    color: inherit;
    padding: 12px 18px;
    border: 1px solid;
    opacity: .7;
    line-height: 1;
}

.custom_beat_row .btn-contact:hover {
    color: inherit;
    opacity: 1;
}

.custom_beat_row .content-wrap {
    padding: 20px 40px;
}

.custom_beat_row .features p {
    line-height: 2;
    opacity: .7;
}

.custom_beat_row .features i {
    font-size: 12px;
    margin-right: 10px;
}


/* -- Section Four [Section FAQS] Styles -- */

.section_faqs .section_header {
    margin-bottom: 42px;
}

.section_faqs .section_header p {
    line-height: 1.7;
}

.section_faqs .accordion-item {
    margin-bottom: 10px;
}

.accordion-item:first-of-type .accordion-button,
.section_faqs .accordion-item .accordion-button {
    font-size: 16px;
    color: inherit;
    margin: 0;
    position: relative;
    background: #0e0c0c;
    padding: 18px 34px 18px 24px;
    border-radius: 0;
}

.section_faqs .accordion-button:after {
    font-family: 'Font Awesome 5 Free';
    content: "\f068";
    font-size: 12px;
    font-weight: 900;
    position: absolute;
    right: 15px;
    top: 40%;
    width: auto;
    height: auto;
    cursor: pointer;
    background-image: none;
}

.section_faqs .accordion-button:not(.collapsed)::after {
    content: "\f067";
    transform: unset;
}

.section_faqs .accordion-item .paragraph {
    border: 2px solid transparent;
    padding: 20px;
    margin-top: 10px;
}

.section_faqs .accordion-item p {
    line-height: 1.7;
}


/* -- Section Seven [Section Contact] Styles -- */

.section_contact label {
    color: inherit;
}

.section_contact form p:nth-last-child(2) {
    margin-bottom: 0;
}


/* -- Column-2 -- */

.section_faqs .column .column-2 {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.section_faqs .column .column-2 .accordion-item {
    width: 50%;
    padding: 0 15px;
}


/* ====== Theme Footer Styles ====== */