@media (max-width: 1200px) {
    .table-4 .column,
    .table-8 .column,
    .table-12 .column {
        width: 50%;
        transform: none;
    }
    .table-4 .column:nth-last-child(1),
    .table-4 .column:nth-last-child(2),
    .table-8 .column:nth-last-child(1),
    .table-8 .column:nth-last-child(2),
    .table-12 .column:nth-last-child(1),
    .table-12.column:nth-last-child(2) {
        margin-bottom: 0;
    }
    .section_licensing .highlighted {
        transform: unset;
    }
}

@media (max-width: 991px) {
    .order-left {
        order: -1;
    }
    .order-righ {
        order: 1;
    }
    #content section {
        padding: 50px 0;
    }
    #content section .container-boxed {
        max-width: 682px;
    }
    section .section_header {
        margin-bottom: 32px;
    }
    .section_features .column:nth-last-child(2),
    .section_features .column:nth-last-child(3),
    .custom_beat_row .column,
    .section_about .column {
        margin-bottom: 30px;
    }
    .section_features h2 {
        font-size: 36px;
    }
    .custom_beat_row .column:nth-last-child(1),
    .section_about .column:nth-last-child(2) {
        margin-bottom: 0;
    }
    .section_offer .column {
        margin-bottom: 30px;
    }
    .section_offer .column:last-child {
        margin: 0;
    }
}

@media (max-width: 767px) {
    .jumbotron.header_jumbotron {
        padding: 130px 0;
    }
    #content section .container-boxed-small {
        max-width: 450px;
    }
    .section_licensing .table-4 .column {
        width: 100%;
    }
    .section_licensing .table-4 .column:nth-last-child(2) {
        margin-bottom: 30px;
    }
    .custom_beat_row .header-wrap,
    .custom_beat_row .content-wrap {
        padding: 20px;
    }
}

@media (max-width: 576px) {
    .slick-dots {
        margin-top: 32px;
    }
}

@media (max-width: 420px) {
    .jumbotron.header_jumbotron {
        padding: 72px 0;
    }
    .section_offer .column-content {
        padding: 20px;
    }
}