@media (max-width: 1200px) {
    .section_licensing .pricing-row .column,
    .section_features .column {
        width: 33.3333333333%;
        transform: none;
    }
    .section_licensing .pricing-row .column:nth-last-child(4),
    .section_features .column:nth-last-child(4) {
        margin-bottom: 30px;
    }
    .custom_beat_row {
        margin-top: 30px;
    }
}

@media (max-width: 991px) {
    .order-left {
        order: -1;
    }
    .order-right {
        order: 1;
    }
    .jumbotron.header_jumbotron {
        padding: 190px 0;
    }
    .with-banner .jumbotron.header_jumbotron {
        padding: 250px 0 190px;
    }
    .without-banner-slider section.section-frontpage:first-child {
        padding-top: 140px;
    }
    .container-boxed {
        max-width: 682px;
    }
    .custom_beat_row .column,
    .section_about .column {
        margin-bottom: 30px;
    }
    .section_licensing .pricing-row .column,
    .section_features .column {
        width: 50%;
    }
    .section_licensing .pricing-row .column:nth-last-child(3),
    .section_features .column:nth-last-child(3),
    .section_offer .column {
        margin-bottom: 30px;
    }
    .custom_beat_row .column:nth-last-child(1),
    .section_about .column:nth-last-child(2) {
        margin-bottom: 0;
    }
    .section_offer .column:last-child {
        margin: 0;
    }
    /* -- Post navigation -- */
    .post-navigation .nav_direction .column {
        width: 100%;
        margin: 0 0 20px;
    }
    .post-navigation .nav_direction .column:last-child {
        margin: 0;
    }
    /* -- Footer Styles -- */
    #footer #footer-widgets .column {
        margin-bottom: 32px;
    }
    #footer #footer-widgets .column:nth-last-child(1),
    #footer #footer-widgets .column:nth-last-child(2) {
        margin-bottom: 0;
    }
}

@media (max-width: 767px) {
    .jumbotron.header_jumbotron {
        padding: 130px 0;
    }
    .with-banner .jumbotron.header_jumbotron {
        padding: 190px 0 130px;
    }
    .container-boxed-small {
        max-width: 450px;
    }
    .custom_beat_row .header-wrap,
    .custom_beat_row .content-wrap {
        padding: 20px;
    }
    #sidebar {
        margin-top: 36px;
    }
    #sidebar.right-order .sidebar {
        margin-left: 0;
    }
}

@media (max-width: 576px) {
    .slick-dots {
        margin-top: 32px;
    }
    .section_licensing .pricing-row .column,
    .section_features .column {
        width: 100%;
        max-width: 340px;
        margin: 0 auto 30px;
    }
    .section_licensing .pricing-row .column:nth-last-child(2),
    .section_features .column:nth-last-child(2) {
        margin-bottom: 30px;
    }
    .featured-jumbotron {
        padding: 0;
    }
    /* -- Footer Styles -- */
    #footer #footer-widgets .column:nth-last-child(2) {
        margin-bottom: 32px;
    }
}

@media (max-width: 420px) {
    .jumbotron.header_jumbotron {
        padding: 90px 0;
    }
    .with-banner .jumbotron.header_jumbotron {
        padding: 150px 0 90px;
    }
    .section_offer .column-content {
        padding: 20px;
    }
}