/* -- Main Navigation Styles -- */

.main-navigation {
    max-width: 1920px;
    padding: 15px 0;
    z-index: 9;
    background-color: #f1f1f1;
    margin: 0 auto;
}

.nav-search .navbar-nav {
    margin: auto;
    flex-wrap: wrap;
}

.main-navigation .menu-item {
    margin: 0;
}

.main-navigation .sub-menu .nav-link {
    font-size: 14px;
    outline-offset: -2px;
    outline-color: #ffffff;
}


/* -- Nabbar Above Content Styles -- */

.navbar.navbar-above {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
}


/* -- Navbar Fixed Top Styles -- */

.navbar.navbar-fixed {
    top: unset;
    z-index: 999;
}

.navbar.fixed-top {
    position: fixed;
    top: -70px;
    right: 0;
    left: 0;
    transition: .4s ease-in;
    transform: translate3d(0, 70px, 0);
}


/* -- Menu Dropdown Styles -- */

.main-navigation .sub-menu {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 15px 0 0;
    border: none;
    background-color: transparent;
    width: 200px;
    left: unset;
    position: absolute;
    top: 100%;
    right: 9999rem;
    opacity: 0;
    animation: fadeInUp .2s ease-in;
    transform: translateY(10px);
    text-align: right;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
    z-index: 9;
}

.main-navigation .menu-item-has-children {
    position: relative;
}

.main-navigation .sub-menu .menu-item .nav-link {
    font-weight: 300;
    background-color: #212121;
    color: #ffffff;
    padding: 10px 14px;
    white-space: unset;
    border-bottom: 1px solid rgba(123, 181, 25, 0.1);
}

.main-navigation .sub-menu .menu-item .nav-link:hover {
    color: #ffffff;
}

.main-navigation .sub-menu .menu-item.menu-item-has-children .nav-link {
    padding-left: 30px;
    color: #ffffff;
}

@media (min-width: 1200px) {
    .menu-item-has-children>a::after {
        content: "\f078";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 9px;
        color: inherit;
        margin: 5px 0 0 8px;
        vertical-align: text-top;
        display: inline-block;
        cursor: pointer;
    }
    .sub-menu .menu-item-has-children>a::after {
        content: "\f053";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 15px;
        display: flex;
        align-items: center;
        margin: 0;
    }
    .main-navigation ul li:hover>ul,
    .main-navigation ul li.focus>ul {
        right: 0;
        opacity: 1;
        transform: translateY(0);
        transition: transform 0.15s;
        padding: 0;
    }
    .main-navigation ul li.focus>ul {
        transition: unset;
    }
    .main-navigation ul ul li:hover>ul,
    .main-navigation ul ul li.focus>ul {
        top: 0;
        right: 100%;
        padding-right: 1px;
    }
}

@media (max-width: 1200px) {
    .main-navigation .menu-item-has-children {
        padding-right: 20px;
    }
    .main-navigation .sub-menu .menu-item-has-children {
        padding-right: 0;
    }
    .caret {
        position: absolute;
        right: 0;
        top: 0;
    }
    .main-navigation .sub-menu .caret {
        right: unset;
        left: 10px;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
    }
    .caret::before {
        content: "\f078";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 9px;
        color: inherit;
        vertical-align: text-top;
        display: inline-block;
        cursor: pointer;
        padding: 12px 8px;
    }
    .sub-menu .caret::before {
        content: "\f053";
        color: #ffffff;
    }
    .main-navigation ul li.menu-open>ul {
        right: 0;
        opacity: 1;
        transform: translateY(0);
        transition: transform 0.15s;
        padding: 0;
    }
    .main-navigation ul ul li.menu-open>ul {
        top: 0;
        right: 100%;
        padding-right: 1px;
    }
}

@media (max-width: 991px) {
    body.page-overlay,
    body.page-overlay #page {
        overflow: hidden;
    }
    body.page-overlay #page::after {
        content: '';
        position: fixed;
        background: rgba(255, 255, 255, 0);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    body.page-overlay #content,
    body.page-overlay #footer {
        filter: blur(4px);
    }
    /* -- Navnar Collapse Hamburger Menu Animation Styles -- */
    .navbar-toggler {
        padding: 5px 0;
        border-radius: 0;
    }
    .navbar-toggler:focus {
        box-shadow: none;
        outline: 1px solid;
    }
    .navbar-toggler-icon {
        width: 26px;
        height: 16px;
        position: relative;
        margin: 0px;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    .navbar-toggler-icon span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }
    .navbar-toggler-icon span:nth-child(1) {
        top: 0px;
    }
    .navbar-toggler-icon span:nth-child(2) {
        top: 7px;
    }
    .navbar-toggler-icon span:nth-child(3) {
        top: 14px;
    }
    #navbarCollapse .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon span:nth-child(1) {
        top: 11px;
        transform: rotate(135deg);
    }
    #navbarCollapse .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }
    #navbarCollapse .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon span:nth-child(3) {
        top: 11px;
        transform: rotate(-135deg);
    }
    .main-navigation .menu-item-has-children {
        padding: 0;
    }
    .main-navigation .sub-menu {
        text-align: left;
    }
    .main-navigation .sub-menu .caret {
        bottom: unset;
        left: unset;
        right: 0;
    }
    .sub-menu .caret::before {
        content: "\f078";
        color: inherit;
    }
    .main-navigation ul li.focus>ul {
        right: 0;
        opacity: 1;
        transform: translateY(0);
        padding: 0;
    }
    .main-navigation ul li.menu-open>ul,
    .main-navigation ul ul li.menu-open>ul,
    .main-navigation ul li.focus>ul,
    .main-navigation ul ul li.focus>ul {
        position: unset;
        width: auto;
        padding: 0 0 0 22px;
        box-shadow: none;
    }
    .main-navigation .sub-menu .menu-item .nav-link,
    .main-navigation .sub-menu .menu-item.menu-item-has-children .nav-link {
        padding: 10px 0;
        background-color: transparent;
        color: inherit;
        border: none;
        outline-color: inherit;
    }
    .main-navigation .menu-item.menu-item-has-children>.nav-link,
    .main-navigation .sub-menu .menu-item.menu-item-has-children>.nav-link {
        padding-right: 26px;
    }
    /* -- Navbar Apear From Left -- */
    .navbar.appear-left .navbar-toggler[aria-expanded="true"] {
        filter: blur(4px);
        pointer-events: none;
    }
    #navbarCollapse .navbar-toggler[aria-expanded="true"] {
        filter: unset;
        pointer-events: unset;
    }
    .navbar.navbar.appear-left .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon span:nth-child(1) {
        top: 11px;
        transform: rotate(135deg);
    }
    .navbar.navbar.appear-left .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }
    .navbar.navbar.appear-left .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon span:nth-child(3) {
        top: 11px;
        transform: rotate(-135deg);
    }
    .navbar.appear-left .navbar-collapse {
        overflow-y: auto;
        position: fixed;
        top: 0;
        bottom: 0;
        left: -270px;
        width: 270px;
        height: 100vh;
        padding: 20px;
        margin: 0;
        z-index: 9;
        transition: all .2s ease;
    }
    .navbar.appear-left .show.navbar-collapse {
        left: 0;
        overflow: auto;
        height: 100vh;
    }
    .navbar.appear-left .navbar-collapse::-webkit-scrollbar {
        width: 3px;
    }
    .navbar.appear-left .navbar-collapse::-webkit-scrollbar-track {
        background-color: transparent;
    }
    .navbar.appear-left .navbar-collapse::-webkit-scrollbar-thumb {
        background-color: #7bb519;
    }
    .navbar.appear-left .navbar-collapse .navbar-toggler-icon span {
        background-color: #ffffff;
    }
    .navbar.appear-left .navbar-collapse .navbar-toggler:focus {
        outline: 1px solid #ffffff;
    }
    .navbar.appear-left .menu-item .nav-link {
        outline-color: #ffffff;
    }
    .navbar.appear-left .sub-menu .menu-item .nav-link,
    .navbar.appear-left .menu-item.menu-item-has-children .caret::before {
        color: #ffffff;
    }
}